<!DOCTYPE html>
<html>
  <head>
    <title>Pokedex</title>
    <%= csrf_meta_tags %>

    <script src="https://kit.fontawesome.com/f5bc38d9a9.js"></script>
    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>

    <script type="text/javascript">
      window.POKEMON_TYPES = <%=raw Pokemon::TYPES %>
      window.pokemonBerryURL = "<%= image_url('pokemon_berry.svg') %>"
      window.pokemonEggURL = "<%= image_url('pokemon_egg.svg') %>"
      window.pokemonPotionURL = "<%= image_url('pokemon_potion.svg') %>"
      window.pokemonSuperPotionURL = "<%= image_url('pokemon_super_potion.svg') %>"
      window.pokemonLogoURL = "<%= 'pokemon-logo.svg' %>"
    </script>
  </head>

  <body>
    <header>
      <img src="<%= image_url('pokeball.svg') %>" alt="pokedex" id="menu-toggle">
      <%= link_to 'Create Pokemon', '/#' %>
    </header>
    
    <%= yield %>
  </body>
</html>
